@model admin_web_sell_phone.Models.KhachhangIndexModel

<h1>Create</h1>

<h4>Khách Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">

            <div class="form-group">
                <label asp-for="TenKhachhang" class="control-label">Tên Khách Hàng</label>
                <input asp-for="TenKhachhang" type="text" class="form-control" />
                <span asp-validation-for="TenKhachhang" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="sdt" class="control-label">Số điện thoại</label>
                <input asp-for="sdt" type="text" class="form-control" />
                <span asp-validation-for="sdt" class="text-danger"></span>
            </div>
  
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

